* {
  padding: 0;
  margin: 0;
}

.base {
  height: 100vh;
  background-color: #d0d7d5;
}

main {
  display: flex;
  flex-direction: column;
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
