* {
  padding: 0;
  margin: 0;
}

.navBox {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  box-shadow: #385b87 0px 16px 7px -2px;
  background-color: #d0d7d5;
}

.logo {
  width: 100px;
  height: 90px;
}

.dropdown {
  position: relative;
}

.dropbtn {
  background-color: #385b87;
  color: white;
  margin-top: 25px;
  margin-right: 25px;
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.dropdown-content {
  position: absolute;
  width: 100px;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex-direction: column;
}

.dropdown-content button {
  background-color: #d0d7d5;
  color: black;
  border: none;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  height: 40px;
  cursor: pointer;
}

.dropdown-content button:hover {
  color: white;
  background-color: #385b87;
}
